name: OpenOSRS - Nightly

on:
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@master
        with:
          java-version: 11

      - uses: actions/checkout@v2.3.1
        with:
          repository: open-osrs/hosting
          ref: master
          path: OpenOSRS-hosting

      - uses: actions/checkout@v2.3.1
        with:
          repository: open-osrs/runelite
          ref: master
          path: OpenOSRS

      - uses: actions/cache@v2.0.0
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable
        run: chmod +x ./gradlew
        working-directory: OpenOSRS

      - name: Assembling
        run: ./gradlew assemble --console=plain
        working-directory: OpenOSRS

      - name: Building
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: OpenOSRS

      - name: Bootstrap
        run: ./gradlew :runelite-client:bootstrapNightly --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: OpenOSRS

      - name: Copy bootstrap
        run: cp -af /home/runner/work/hosting/hosting/OpenOSRS/runelite-client/build/bootstrap/. /home/runner/work/hosting/hosting/OpenOSRS-hosting

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v2.8.1
        with:
          token: ${{ secrets.OpenOSRS }}
          branch: NIGHTLY-UPDATE
          title: 'bootstrap: nightly release'
          body: This is an auto-generated PR with a nightly release
          commit-message: 'bootstrap: nightly release'
          labels: "automated-pull-request"
          path: OpenOSRS-hosting
